# Supabase Configuration
VITE_SUPABASE_URL=https://zmapkgwxoxfusfgtikyf.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InptYXBrZ3d4b3hmdXNmZ3Rpa3lmIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzM3MzU2NzYsImV4cCI6MjA4OTMxMTY3Nn0.eTNYOHh4XZWaUFL4WRjjluubzbqKKBWyouJuhaWDvQM
